<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipe Reviews

    <a data-toggle="collapse" href="#user_recipe_reviews_new_form">
      Add recipe review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.recipe_reviews.each do |recipe_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to recipe_review, recipe_review %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_recipe_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
